img {
  width: 100%;
}

/* wrapper__search */
.wrapper__search {
  width: 100%;
  height: 30em;
  display: block;
  background-image: url('https://source.unsplash.com/random/1920x1080');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

/* Massonry layout */
.grid {
  margin: 0 auto;
}

.grid-item {
  margin-bottom: 20px;
}

.form__search-backdropFiler {
  position: relative;
  transition: 0.3s all ease;
}

.input__search,
.input__search:focus {
  background-color: transparent;
}

.input__search::placeholder {
  color: hsl(210, 17%, 98%);
}

.bi-search {
  position: absolute;
  font-size: 1.25rem;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
